#logo {
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 0.8rem;
       	}
       	nav {
      		float: right;
       	ul {
       		list-style: none;
       		margin: 0;
       		li {
       			display: inline;
       			margin-left: 2.5rem;
       			a {
       				color: #fff;
       				text-decoration: none;
       				font-size: 0.8rem;
       			}
       		}
       	}
}

#podcasts {
	padding-bottom: 3rem;
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		li {
			width: 23%;
			float: left;
			margin: 0 1% 2rem 1%;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
			border-radius: .35rem;
			img {
				width: 100%;
				max-width: 100%;
				border-radius: .35rem .35rem 0 0;
			}
			.podcast_overview {
				padding: 1rem 7.5%;
				h2 {
					margin: 0;
					font-size: 0.8rem;
					font-weight: 700;
					color: #333;
				}
				.episode_count {
					color: lighten(#333, 25%);
					font-size: 0.8rem;
					margin: .5rem 0 .25rem 0;
				}
			}
		}
	}
}